head{
text-align: center;
font-size: 35px;
padding: 30px;
font-family:  'Roboto', sans-serif;
color: white;
background-color: skyblue;
}

}
ul
{	
	list-style: none;
	
    }
li{

	display: inline;
	margin: 100px;
	color: yellow;
	background-color: yellow;
	
padding: 4px;
font-family:  'Roboto', sans-serif;

}

section{
	margin-left: 250px;
	margin-top: 50px;
	margin-right: 200px;
text-align: center;


}

.role{

padding-bottom: 45px;
font-size: 25px;
font-family: 'Montserrat', sans-serif;
color: white;
	
  width: 50%  
  height: 400%;
  background-color: red;
  position: relative;
  animation-name: mymove;
  animation-duration: 15s;

  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}


	
	
.goal{
padding-bottom: 45px;
font-size: 25px;
font-family: 'Montserrat', sans-serif;
color: white;


}
.ball{
padding-bottom: 45px;
font-size: 25px;
font-family: 'Montserrat', sans-serif;
color: white;

}

.temp{
	padding-bottom: 45px;
	font-size: 25px;
font-family: 'Montserrat', sans-serif;
color: white;
}




@media screen and (max-width: 500px) {
  .column {
    width: 100%;
















